

  .one{ 
  	height: 103px;
  	background-color: #fff;
  	position: fixed;
  	right: 0;
  	left: 0;
    z-index: 2;

  	
  } 




   .one1{
	margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    background-color: #fff;
    height: 103px;
    
 

  	


 }
 .one2{
 	float: left;
 	margin-top: 20px;

 }
 .one4{
 	display: inline-block;
 	line-height: 103px;
 	margin-left: 50px;
 	margin-top: -20px;
 	color: #6c6c6c;
 }
 

 /*第二段*/

 .two{
 	height: 436px;
 	 }



 .three{
 	height: 1800px;
 	background-color: #c1c1c1;
 }	 




 .three1{
 	width: 1200px;
 	height: 41px;
 	border-bottom: 1px solid red;
 	margin:0 auto;
 }
 .three2{
 	float: left;
 	line-height: 52px;
 	color: #868686;
 	font-size: 18px;
 }

 .three3{
 	float: right;
 	line-height: 52px;
 	color: #868686;
 	font-size: 18px;
 }

 .four1{
 	width: 320px;
 	height: 200px;
 	background-color: #fff;
 	padding-left: 22px;
 	padding-top: 10px;
 	

 }
 .four{
 	position: relative;
 	top: 40px;
 	width: 1200px;
 	height: 1000px;
 	margin:0 auto;

 }

 .four2{
 	width: 500px;
 	height: 280px;
 	background-color: #fff;
 	
 	padding-left: 20px;
 	padding-top: 20px;
 	position:absolute;
 	left: 360px;
 	top: 0;
 }

 .four3{
 	width: 335px;
 	height: 280px;
 	background-color: #fff;
 	position: absolute;
 	left: 900px;
 	top: 0;
 	padding-left: 10px;
 	padding-top: 13px;
 }
 .four4{
 	width: 320px;
 	height: 300px;
 	background-color: #fff;
 	position: absolute;
 	left: 0;
 	top: 250px;
 	
 
 	padding-left: 10px;
 	padding-top: 13px;

 }
 .four5{
 	width: 490px;
 	height: 260px;
 	background-color: #fff;
 	position: relative;
 	left:350px;
 	top: 100px;
 padding-left: 10px;
 padding-top: 10px;


 }
 .four6{
 	width: 340px;
 	height: 220px;
 	background-color: #fff;
 	position: relative;
 	left:880px;
 	top: -150px;
 padding-left: 10px;
 padding-top: 10px;

 }


 
